:root {
  --red: #e50914;
  --white: #fff;
  --black: #000;
  --blue: #005feb;
  --font-titles: 4rem;
  --font-subtitles: 1.625rem;
  --font-texto: 1.2rem;
  --font-btn: 1.5rem;
  --text-1: 1.125rem;
  --text-2: 0.875rem;
}

.red {
  background-color: var(--red);
}

.white {
  color: var(--white);
}

.font-titles {
  font-size: var(--font-titles);
}

.font-subtitles {
  font-size: var(--font-subtitles);
  font-weight: 400;
  color: var(--white);
}

.font-texto {
  font-size: var(--font-texto);
  color: var(--white);
}

.font-btn {
  font-size: var(--font-btn);
}
.text-1 {
  font-size: var(--text-1);
  color: var(--white);
  font-weight: bold;
}
.text-2 {
  font-size: var(--text-2);
  color: var(--blue);
}

.logar {
  color: var(--white);
  border-radius: 3px;
}
